In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('./res.csv',index_col=0)

In [8]:
df

                    Country Name         2020               Value
0                          Aruba     106766.0          1249780.36
1    Africa Eastern and Southern  677243299.0  22105787336.899017
2                    Afghanistan   38928341.0      1209803956.114
3     Africa Western and Central  458803476.0  16405470408.973993
4                         Angola   32866268.0      1280395429.368
..                           ...          ...                 ...
261                       Kosovo    1775378.0          27906496.8
262                  Yemen, Rep.   29825968.0       871154095.906
263                 South Africa   59308690.0      1178719356.443
264                       Zambia   18383956.0   638996352.3840001
265                     Zimbabwe   14862927.0       435658885.331

[266 rows x 3 columns]

In [6]:
df.to_csv('data.csv')